{% case content.type %}
  {% when "PLAIN_TEXT" %}
    <div class="content-plain-text">
      <p>{{ content.value }}</p>
    </div>
  {% when "MARKDOWN" %}
    <div class="content-markdown flex flex-col gap-y-4">
      {{ content.value | markdownify }}
    </div>
  {% when "RICH_TEXT" %}
    <div class="content-rich-text flex flex-col gap-y-4">
      {{ content.value }}
    </div>
{% endcase %}
