<footer class="flex flex-col w-full pb-10">
  <div class="flex flex-col items-center justify-between gap-6">
    <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-500">
      <a class="transition hover:text-zinc-600" href="/">Home</a>
      <a class="transition hover:text-zinc-600" href="/">Archive</a>
    </div>
    <p class="text-sm text-zinc-400 dark:text-zinc-500">© {{ rendered_at | date_to_string: "yyyy" }} thatblog</p>
  </div>
</footer>
