<header class="flex flex-col w-full">
  <a class="flex flex-col justify-start items-center" href="/">
    <img
      class="rounded-full h-16 w-16"
      height="16"
      width="16"
      src="https://gravatar.com/avatar/1a313aa64f735df03c7768ebd55231ef?size=100&cache=1740266829648" />
    <h1 class="text-3xl tracking-tight text-zinc-600 transition hover:text-zinc-700 sm:text-4xl pt-2 pl-3">jdrydn</h1>
  </a>
</header>
