<header class="flex flex-col w-full">
  <a class="flex flex-row justify-start items-start" href="/">
    <img
      class="rounded-full h-16 w-16"
      height="16"
      width="16"
      src="https://placehold.co/100x100?text=JD" />
    <h1 class="text-3xl tracking-tight text-zinc-600 transition hover:text-zinc-700 sm:text-4xl pt-2 pl-3">jdrydn</h1>
  </a>
</header>
