<div class="border-0 rounded ring-1 ring-inset ring-gray-100 shadow-sm p-1">
  {% case media.type %}
    {% when "IMAGE" %}
      <div class="content-media-image">
        <img class="mx-auto" src="{{ media.src }}" />
      </div>

    {% when "EMBED" %}
      <div class="content-media-embed">
        {{ media.html }}
      </div>
  {% endcase %}
</div>
