<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>Hugo</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <meta name="description" content="A brief guide to setup KaTeX" />
    <meta name="generator" content="Hugo 0.80.0" />
    <meta name="robots" content="noindex, nofollow" />

    <link rel="stylesheet" href="{{ "/style.css" | theme_url }}">
    <link rel="shortcut icon" href="/hugo-theme-mini/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav class="navigation">
      <a href="/hugo-theme-mini/posts">Archive</a>
      <a href="/hugo-theme-mini/tags">Tags</a>
      <a href="/hugo-theme-mini/about">About</a>
      <a class="button" href="https://nodejh.github.io/hugo-theme-mini/index.xml">Subscribe</a>
    </nav>
    <main class="main">

      <header class="profile">
        <img class="avatar" alt="avatar" src="/hugo-theme-mini/images/avatar.png" />
        <h1>Hugo</h1>
        <h2>Software Engineer</h2>
      </header>

      <div id="list-page">






        <section class="item">
        <div>
        <h1 class="title"><a href='/hugo-theme-mini/posts/markdown-syntax-guide/'>Markdown Syntax Guide</a></h1>
        <div class="date">Mar 11, 2019</div>
        </div>

        <div class="summary">This article offers a sample of basic Markdown syntax that can be used in Hugo content files, also it shows whether basic HTML elements are decorated with CSS in a Hugo theme.
        </div>

        </section>




        <section class="item">
        <div>
        <h1 class="title"><a href='/hugo-theme-mini/posts/rich-content/'>Rich Content</a></h1>
        <div class="date">Mar 10, 2019</div>
        </div>

        <div class="summary">Hugo ships with several Built-in Shortcodes  for rich content, along with a Privacy Config  and a set of Simple Shortcodes that enable static and no-JS versions of various social media embeds.
        </div>

        </section>




        <section class="item">
        <div>
        <h1 class="title"><a href='/hugo-theme-mini/posts/placeholder-text/'>Placeholder Text</a></h1>
        <div class="date">Mar 9, 2019</div>
        </div>

        <div class="summary">Lorem est tota propiore conpellat pectoribus de pectora summo.
        </div>

        </section>



        <div class="pagination">



        <span class="next">
        <a href="/hugo-theme-mini/page/2/">
        Older Posts <span class="arrow">→</span>
        </a>
        </span>

        </div>



      </div>
    </main>
    <footer id="footer">

      <p class="copyright">
        © Copyright 2021 nodejh
      </p>
      <p class="powerby">
        Powered by <a href="http://www.gohugo.io/">Hugo</a> Theme By <a href="https://github.com/nodejh/hugo-theme-cactus-plus">nodejh</a>
      </p>
    </footer>
  </body>
</html>
