<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow" />

    {% block head_meta %}
      <title>Hello, world</title>
      <meta name="description" content="A brief guide to setup KaTeX" />
    {% endblock % %}

    <link rel="stylesheet" href="{{ '/assets/style.css' | theme_url }}" />

    <link rel="stylesheet" href="{{ '/static/highlightjs/atom-one-light.min.css' | theme_url }}" />
    <script type="text/javascript" src="{{ '/static/highlightjs/highlight.min.js' | theme_url }}"></script>
    <script type="text/javascript" src="{{ '/static/highlightjs/lang-ts.min.js' | theme_url }}"></script>
  </head>

  <body class="h-full bg-zinc-50">
    <div class="flex flex-col mx-auto w-full max-w-3xl pt-8 px-8 gap-y-8">
      {% render "./partials/header" %}

      {% block %}
      {% endblock %}

      {% render "./partials/footer" %}
    </div>

    <div class="fixed inset-0 flex justify-center px-2 -z-10">
      <div class="flex w-full max-w-7xl px-2 lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100"></div>
      </div>
    </div>
  </body>
</html>
