name: Pull Requests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: pr-${{ github.event.number }}

permissions:
  contents: read
  pull-requests: read

jobs:

  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/init-node
      # - run: pnpm run lint

  unit-tests:
    needs: prepare
    uses: ./.github/workflows/_unit-tests.yml
